__pycache__
*_01.*
*_02.*
*_03.*
*.adoc
*.crc
*.log
*.swp
DELETE
sql
screens
spark-context-textfile.json
spark-session.json
struct
tests
test_truct
timeline.txt
twitter/user-timeline/batch1
twitter/user-timeline/batch2
twitter/user-timeline/struct
test-data/twitter/followers
test-data/twitter/friends
test-data/twitter/user_timeline
test-data/text/realdonaldtrump
merge.py
merge-struct.py
pre-version

test-delta/analytics
test-delta/twitter

class_converttime.py
class_curl.py
class_files.py
class_googlesheets.py
class_parseargs.py
class_subprocess.py
class_twitter.py
cluster
data
documentation
loopclass.py
get_google_sheets.py
har.py
har_selenium.py
mongodb_twitter_followers.py
mongodb_twitter_user_timeline.py
twitter_authenticate_OAuth20.py
twitter_followers.py
twitter_google_sheets.py
twitter_user_timeline.py
twitter-api
twitter_followers.json
twitter_user_timeline.json
resources
spark-warehouse
sql
test-data/har-schema

setup.py











