__pycache__
*_01.*
*_02.*
*_03.*
*.adoc
*.log
*.swp
DELETE
sql
screens
spark-context-textfile.json
spark-session.json
struct
test
test_truct
timeline.txt
*twitter*
twitter_user-timeline/batch1
twitter_user-timeline/batch2
twitter_user-timeline/struct
merge.py
merge-struct.py
pre-version
